
/* Need this font link: <link rel="stylesheet" href="https://use.typekit.net/rix4tuh.css">*/

p{
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
}
body{
    background-color:black;
    width:100vw;   
}

.pagetitle{
    font-family: roc-grotesk-extrawide, sans-serif;
    font-weight: 700;
    font-style: normal;
    color:white;
    font-size:3em; 
}

            
h1{
    font-family: roc-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    color:white;
    font-size:2.5em; 
}
h2{
    font-family: roc-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    color:white;
}
h3{
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
}
h4{
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
}
ul{
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
}
            

#header{
    height:40px;
    display: flex;
    align-items: center;
    position:relative;
    margin-bottom:5%;
    justify-content: space-between;
}

#navholder{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:space-between;
                
}
.navitems{
    font-family: roc-grotesk-extrawide,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:1.2em;
    text-decoration:none;
    color:white;
}
.navitems:hover{
    color:rgb(189, 150, 10);
    text-decoration:underline;
}
.button{
    width:100%;
    height:auto;
    border-radius:30px;
    text-align:center;
    padding:15%;
    border: white 2px solid;
    background-color:rgba(255, 255, 255, 0);
    color:rgb(255, 255, 255);
    text-align:center;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:1.4em;
}
            
#footer{
    width: 100%;
    position: absolute;
    bottom :0;
    left:0;
    padding-left:5%;
    padding-right:5%;
    display:flex;
    justify-content: center;
    background-color: rgb(189, 150, 10);
    color: white;
}
#margins{
    padding:5%;
}
@media screen and (max-width:800px) {
    
    #navholder{
        flex-direction:column;
        
    }
    #header{
        margin-top:50px;
        margin-bottom:50px;
    }
}
       
    
    /* <body>
        <div id="margins">

            <div id="header">
                <div>
                    <img id="logo">
                </div>
               
                <div id="navholder">
                    <!--replace the links!!-->
                    <a class="navitems" href="http://webdev.iyaclasses.com/~jdyoung/acad275/personal%20site:%20final/home%20page-acad275.html">Home</a>
                    <a class="navitems"href="http://webdev.iyaclasses.com/~jdyoung/acad275/personal%20site:%20final/about%20page.html">About</a>
                    <a class="navitems"href="http://webdev.iyaclasses.com/~jdyoung/acad275/personal%20site:%20final/listen%20page.html">Calendar</a>
                    <a class="navitems"href="http://webdev.iyaclasses.com/~jdyoung/acad275/personal%20site:%20final/collabs%20page.html">Map</a>
                    <a class="navitems"href="http://webdev.iyaclasses.com/~jdyoung/acad275/personal%20site:%20final/collabs%20page.html">Submit</a>
                    <a class="navitems"href="http://webdev.iyaclasses.com/~jdyoung/acad275/personal%20site:%20final/collabs%20page.html">Contact</a>
                </div>
            </div>


        </div>
        <!-- working on footer
            <div id="footer">
            <p>SC Live is created with the mission to bring USC students together one concert at a time.</p>
            </div>
        -->

    </body>
</html> */